<mat-card>
  <h1>Zahtev za kreiranje sertifikata</h1>
  <mat-divider inset></mat-divider>
  <br />
  <form [formGroup]="csrForm">
    <table>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Domen (CN)</mat-label>
            <input matInput formControlName="commonName" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Naziv Organizacije (O)</mat-label>
            <input matInput formControlName="organizationName" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Naziv jedinice (OU)</mat-label>
            <input matInput formControlName="organizationalUnit" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Mesto (L)</mat-label>
            <input matInput formControlName="locality" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Region (ST)</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Država (C)</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Email Adresa (E)</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </td>
      </tr>
      <br />
      <tr>
        <td rowspan="2" align="center">
          <button mat-raised-button color="primary">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</mat-card>
