<mat-card class="main-container">
  <ng-container *ngFor="let csr of csrToShow">
    <app-csr-item *ngIf="!cetrificatesToShow"
      [csrRequest]="csr"
    ></app-csr-item>
    <app-certificate-item *ngIf="cetrificatesToShow"
      [csrRequest]="csr"
      (csrChanged)="getCsrToShow()"
    ></app-certificate-item>
  </ng-container>
  <h1 *ngIf="csrToShow.length === 0 && !cetrificatesToShow"  style="text-align: center">
    Nema CSR-ova koji čekaju na obradu!
  </h1>
  
  <h1 *ngIf="csrToShow.length === 0 && cetrificatesToShow" style="text-align: center">
    Nema certifikata!
  </h1>
</mat-card>
