<mat-toolbar color="primary">
  <div style="display: flex; gap: 16px">
    <button
      mat-button
      class="menu-button"
      [matMenuTriggerFor]="adminMenu"
      *ngIf="isLogged && userRole === Role.ADMIN"
    >
      Admin Opcije
    </button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item [routerLink]="['admin/csr-pending']">
        Neobrađeni zahtevi
      </button>
      <button mat-menu-item [routerLink]="['admin/csr-all']">
        Svi sertifikati
      </button>
      <button mat-menu-item [routerLink]="['admin/add-new-user']">
        Dodaj korisnika
      </button>
      <button mat-menu-item [routerLink]="['admin/users-all']">
        Svi korisnici
      </button>
    </mat-menu>

    <button
      mat-button
      class="menu-button"
      [matMenuTriggerFor]="userMenu"
      *ngIf="isLogged && userRole === Role.USER"
    >
      Korisničke Opcije
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['user/csr-request']">
        Zahtev za sertifikat
      </button>
      <button mat-menu-item [routerLink]="['user/change-credentials']">
        Promena kredencijala
      </button>
      <button mat-menu-item [routerLink]="['user/logs']">
        Logovi uredjaja
      </button>
    </mat-menu>

    
    <button
      mat-button
      class="menu-button"
      [matMenuTriggerFor]="ownerMenu"
      *ngIf="isLogged && userRole === Role.OWNER"
    >
      Vlasničke Opcije
    </button>
    <mat-menu #ownerMenu="matMenu">
      <button mat-menu-item [routerLink]="['owner/devices']">
        Svi uređaji
      </button>
      <button mat-menu-item [routerLink]="['owner/logs']">
        Logovi
      </button>
      <button mat-menu-item [routerLink]="['owner/alarmi']">
        Alarmi
      </button>
    </mat-menu>
  </div>

  <button mat-button class="menu-button" *ngIf="isLogged" (click)="logout()">
    Odjava
  </button>
</mat-toolbar>

<app-alarm-notification *ngIf="userService.user"></app-alarm-notification>