<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <h2 id="login-label">Promena Kredencijala</h2>

      <mat-form-field>
        <input
          matInput
          formControlName="oldPassword"
          type="password"
          placeholder="Stara Lozinka"
          name="oldPassword"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="oldPin"
          type="password"
          placeholder="Stari PIN"
          name="oldPin"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="newPassword"
          type="password"
          placeholder="Nova Lozinka"
          name="newPassword"
        />
        <mat-error *ngIf="form.get('newPassword')?.errors">
          {{ newPasswordErrorText }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="newPin"
          type="password"
          placeholder="Novi PIN"
          name="newPin"
        />
        <mat-error *ngIf="form.get('newPin')?.hasError('pattern')">
          PIN mora da sadrži tačno 4 cifre!
        </mat-error>
      </mat-form-field>

      <h4>Pravila za novu lozinku:</h4>
      <ul>
        <li>Minimalna dužina: 12</li>
        <li>Maksimalna dužina: 64</li>
        <li>Bar jedno veliko slovo</li>
        <li>Bar jedno malo slovo</li>
        <li>Bar jedan specijalan karakter</li>
      </ul>
      <br />
      <h4>Pravila za novi PIN:</h4>
      <ul>
        <li>PIN mora da sadrži tačno 4 cifre!</li>
      </ul>

      <button
        mat-raised-button
        type="button"
        id="login-button"
        color="primary"
        [disabled]="
          form.invalid ||
          (!form.get('newPassword')!.value && !form.get('newPin')!.value)
        "
        (click)="sendChangeRequest()"
      >
        Promeni kredencijale
      </button>
    </form>
  </mat-card-content>
</mat-card>
